@model bhati_jatha_count_report.Models.ViewModels.AllotedCountTabularViewModel
@{
    ViewData["Title"] = "Alloted Count Tabular View";
}
<div class="container-fluid">
    <h2 class="mb-4">Alloted Count - Tabular View</h2>
    <form method="get" class="mb-3">
        <div class="row g-2 align-items-end">
            <div class="col-auto">
                <label for="weekDay" class="form-label">Week Day</label>
                <select class="form-select" id="weekDay" name="weekDay" onchange="this.form.submit()">
                    @foreach (var wd in Model.WeekDays)
                    {
                        var selected = wd.Value == Model.SelectedWeekDay.ToString() ? "selected" : null;
                        <option value="@wd.Value" selected="@selected">@wd.Text</option>
                    }
                </select>
            </div>
        </div>
    </form>
    <div class="table-responsive">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Center \ Sewa Type</th>
                    @foreach (var sewaType in Model.SewaTypes)
                    {
                        <th>@sewaType.SewaName</th>
                    }
                    <th class="bg-light">Total</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var center in Model.Centers)
                {
                    <tr>
                        <th>@center.CenterName</th>
                        @{
                            int rowTotal = 0;
                        }
                        @foreach (var sewaType in Model.SewaTypes)
                        {
                            var count = Model.GetAllotedCount(center.Id, sewaType.Id);
                            if (count.HasValue)
                            {
                                rowTotal += count.Value;
                                <td style="background-color: #fff9c4">@count.Value</td>
                            }
                            else
                            {
                                <td>-</td>
                            }
                        }
                        <td class="bg-light fw-bold">@rowTotal</td>
                    </tr>
                }
            </tbody>
            <tfoot>
                <tr>
                    <th class="bg-light">Total</th>
                    @{
                        var colTotals = new List<int>();
                        foreach (var sewaType in Model.SewaTypes)
                        {
                            int colTotal = 0;
                            foreach (var center in Model.Centers)
                            {
                                var count = Model.GetAllotedCount(center.Id, sewaType.Id);
                                if (count.HasValue) colTotal += count.Value;
                            }
                            colTotals.Add(colTotal);
                        }
                        int grandTotal = colTotals.Sum();
                    }
                    @foreach (var colTotal in colTotals)
                    {
                        <th class="bg-light">@colTotal</th>
                    }
                    <th class="bg-warning">@grandTotal</th>
                </tr>
            </tfoot>
        </table>
    </div>
</div>